/**
 *  Variables
 */
/**
  *  Properties
  */
body, .footer .social {
  width: 100%;
  margin: 0;
  padding: 0; }

/*                                                                      *
  ==========================================================================
  ==========================================================================
  *                                                                       */
body {
  background-image: url("../images/cream_pixels.png");
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
   *
   * Portfolio header
   *
   */
.header {
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  margin-bottom: 1em;
  background-color: #C9B6FF;
  -webkit-box-shadow: inset 4px 3px 106px -18px #fbf2fc, 0px 10px 20px -5px rgba(112, 110, 112, 0.77);
  box-shadow: inset 4px 3px 106px -18px #fbf2fc, 0px 10px 20px -5px rgba(112, 110, 112, 0.77); }
  .header .logo {
    width: 100%; }
    .header .logo .portfolio_logo {
      max-width: 50%;
      max-height: 100%;
      display: block;
      margin: 2em auto 0.5em auto; }
  .header .header_title {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 1em; }
    .header .header_title h2 {
      font-family: "Inknut Antiqua", serif;
      margin: 0;
      color: #290D58;
      text-shadow: -2px -2px 6px #969696; }
    .header .header_title .job_title {
      max-width: 100%;
      padding: 0.5em; }
      .header .header_title .job_title h3 {
        font-weight: 400;
        font-family: "Cormorant garamond", sans-serif;
        margin: 0; }

/*
   *
   * Portfolio sections
   *
   */
.about {
  max-width: 100%;
  padding: 0.5em;
  height: auto;
  margin: 0 auto 1em auto; }
  .about .about_picture {
    max-width: 100%;
    border: 1px dashed #653B45; }

.container {
  width: 100%; }
  .container .item {
    width: 100%; }
    .container .item p {
      font-size: 11px;
      font-weight: 500;
      text-align: center;
      font-family: "Inknut Antiqua", serif;
      background-color: #A29EEB;
      max-width: 50%;
      margin: 0 auto 0 auto;
      padding: 1em;
      border-radius: 5px;
      -webkit-box-shadow: 0px 7px 21px -5px rgba(61, 59, 61, 0.4);
      box-shadow: 0px 7px 21px -5px rgba(61, 59, 61, 0.4); }
  .container .portfolio_image {
    margin-top: 0.5em;
    max-width: 100%; }
    .container .portfolio_image .portfolio_link img {
      width: 100%;
      cursor: pointer; }

/*
   *
   * Portfolio footer
   *
   */
.footer {
  width: 100%;
  height: auto;
  margin-top: 1em;
  padding: 0.2em 0 2em 0;
  background-color: #E1D0D4;
  -webkit-box-shadow: inset 0px -5px 105px -27px rgba(87, 0, 4, 0.63);
  box-shadow: inset 0px -5px 105px -27px rgba(87, 0, 4, 0.63); }
  .footer p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: "Cormorant garamond", sans-serif;
    color: #4D262A;
    text-shadow: -2px -2px 6px #969696; }
  .footer .social {
    list-style: none;
    display: inline-block; }
    .footer .social .link {
      display: inline;
      margin: 0;
      padding: 5px;
      border-radius: 3px;
      background-color: #E6F8FA;
      -webkit-box-shadow: 2px 2px 10px 1px rgba(112, 83, 112, 0.5);
      box-shadow: 2px 2px 10px 1px rgba(112, 83, 112, 0.5); }
      .footer .social .link a {
        display: inline;
        text-decoration: none;
        color: #6A2B39;
        font-size: 14px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500; }
    .footer .social .link:hover {
      color: #CA5000;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 43px 1px #705370;
      box-shadow: 2px 2px 43px 1px #705370; }
